{% extends "base.html" %}

{% block title %}Lista de Solicitudes{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Consultar Compras</h1>
    {% comment %} <a href="{% url 'crear_solicitud_compra' %}" class="btn btn-primary">Crear</a> {% endcomment %}

    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Número</th>
                <th>Fecha de solicitud</th>
                <th>Productos</th>
                <th>Proveedor</th>
                <th>Entrega</th>
                <th>Pago</th>
                <th>Total</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in page_obj %}
            <tr>
                <td><a href="{% url 'detalle_solicitud_compra' solicitud.numero %}">{{ solicitud.numero }}</a></td>
                <td>{{ solicitud.fecha }}</td>
                <td>
                    <ul>
                        {% for producto in solicitud.productos %}
                        <li>{{ producto.nombre }} ({{ producto.cantidad }})</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ solicitud.proveedor }}</td>
                <td>{{ solicitud.entrega }}</td>
                <td>{{ solicitud.pago }}</td>
                <td>{{ solicitud.total_con_igv }}</td>
                <td>{{ solicitud.estado }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}
