{%extends "base.html"%}

{% block title %}Proveedores{% endblock %}

{% block content %}
<style>
    
    {% comment %} espacio entre el nav-bar y el div-main  {% endcomment %}
    
    .table-container {
        width: 100%;
        overflow-x: visible; /* Para manejar tablas muy anchas en pantallas pequeñas */
        margin-top: 25px;
    }

    {% comment %} configuracion de tabla  {% endcomment %}
    
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th{
        padding: 8px 12px;
        border: 1px solid #ddd;
        text-align: center;
        background-color: #d6d6d6;
    }

    td {
        padding: 8px 12px;
        border: 1px solid #ddd;
        text-align: left;
    }

    tr:hover {
        background-color: #d6d6d6;
    }

    {% comment %} ajusta los laterale del div  {% endcomment %}

    .div-main{
        margin-left: 100px;
        margin-right: 50px;    
    
    }

    {% comment %} ajusta la columna observaciones para que no se muestre del todo el texto {% endcomment %}
    
    .observaciones {
        max-width: 200px; /* Ajusta este valor según necesites */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    {% comment %} sirve para poner a la misma altura el boton de anadir proveedores  {% endcomment %}
    .header-table {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    {% comment %} Sirve para poner a la misma altura el search {% endcomment %}

    .left-section {
        display: flex;
        align-items: center;
    }

    {% comment %} margin proveedores en total {% endcomment %}

    .proveedores-count {
        margin: 0;
    }

    {% comment %} Buscador {% endcomment %}

    .search-input {
        margin-left: 30px;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
    }

    {% comment %} add buttom 'anadir proveedores' {% endcomment %}

    .add-proveedor-btn {
        padding: 10px 15px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .add-proveedor-btn:hover {
        background-color: #45a049;
    }
    
</style>
<div class="div-main">
            <div class="table-container">
                <div class="table-container">
                    <div class="header-table">
                        <div class="left-section">
                            <h2 class="proveedores-count">Proveedores en total: {{numero_proveedores}}</h2>
                            <input type="text" placeholder="Search.." class="search-input">
                        </div>
                        <form action="{% url 'form_proveedores' %}">
                            <input type="submit"  class="add-proveedor-btn" value="Añadir Proveedores" />
                        </form>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre de la empresa</th>
                                <th>RUC</th>
                                <th>Dirección</th>
                                <th>Nombre de contacto</th>
                                <th>Teléfonos</th>
                                <th>Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for proveedor in proveedores %}
                            <tr onclick="window.location.href='{% url 'detail_proveedores' proveedor.id %}'" style="cursor: pointer;">
                                <td>{{ proveedor.nombre_empresa }}</td>
                                <td>{{ proveedor.ruc }}</td>
                                <td>{{ proveedor.direccion }}</td>
                                <td>{{ proveedor.nombre_contacto }}</td>
                                <td>{{ proveedor.telefonos }}</td>
                                <td class="observaciones" >{{ proveedor.observaciones }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}