{%extends "base.html"%} {% block title %}Proveedores Form{% endblock %} 

{% block content %}
<style>
  /* Style Header */

  .header-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .left-section {
    display: flex;
    align-items: center;
  }

  .proveedores-count {
    margin: 0;
  }
  
</style>

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>

<div class="header-table">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Añadir nuevo Proveedor</h2>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="id_nombre_empresa" class="form-label"
                  >Nombre Empresa</label
                >
                {{ form.nombre_empresa }}
              </div>
              <div class="mb-3">
                <label for="id_ruc" class="form-label">RUC</label>
                {{ form.ruc }}
              </div>
              <div class="mb-3">
                <label for="id_direccion" class="form-label">Dirección</label>
                {{ form.direccion }}
              </div>
              <div class="mb-3">
                <label for="id_nombre_contacto" class="form-label"
                  >Nombre Contacto</label
                >
                {{ form.nombre_contacto }}
              </div>
              <div class="mb-3">
                <label for="id_telefonos" class="form-label">Teléfonos</label>
                {{ form.telefonos }}
              </div>
              <div class="mb-3">
                <label for="id_observaciones" class="form-label"
                  >Observaciones</label
                >
                {{ form.observaciones }}
              </div>
              <button type="submit" class="btn btn-primary">
                Guardar Proveedor
              </button>
            </form>
            <a href="{% url 'home_proveedores' %}" class="btn btn-link"
              >Regresar</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
