{%extends "base.html"%}
{% block title %}Proveedores Detail{% endblock %}

{% block content %}
<style>
    
    /* style body  */
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0px;
        background-color: #f4f4f4;
    }

    /* style div container  */
    
    .container {
        max-width: 800px;
        margin: 40px auto 0; /* Añadido margen superior de 60px */
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    /* style for h1 and border line  */
    
    h1 {
        color: #333;
        border-bottom: 2px solid #333;
        padding-bottom: 20px;
    }

    /* space between items */

    .detail-item {
        margin-bottom: 10px;
    }
    
    /* boldface in titles */
    .detail-label {
        font-weight: bold;
        color: #555;
    }

    {% comment %} .back-proveedor-btn {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
        margin-bottom: 20px;
    } {% endcomment %}

    {% comment %} .back-proveedor-btn:hover {
        background-color: #45a049;
    } {% endcomment %}

    .edit-proveedor-btn{
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }
    .edit-proveedor-btn:hover {
        background-color: #45a049;
    }

    {% comment %} button container style {% endcomment %}

    .button-container {
        display: flex;
        justify-content: flex-start; /* Alinea los botones a la izquierda */
        align-items: center;
        gap: 20px; /* Aumenta el espacio entre los botones */
        margin-top: 20px;
    }
    
    .button-container form {
        margin: 0;
    }
    
    .btn {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }
    
    .btn:hover {
        background-color: #45a049;
    }
    
    .btn-delete {
        background-color: #f44336;
        /* Elimina margin-left: auto; */
    }
    
    .btn-delete:hover {
        background-color: #d32f2f;
    }
    

</style>
</head>
<body>
<div class="container">
    <h1>Detalles del Proveedor</h1>
    
    <div class="detail-item">
        <span class="detail-label">Nombre de la Empresa:</span>
        <span>{{ proveedor.nombre_empresa }}</span>
    </div>
    
    <div class="detail-item">
        <span class="detail-label">RUC:</span>
        <span>{{ proveedor.ruc }}</span>
    </div>
    
    <div class="detail-item">
        <span class="detail-label">Dirección:</span>
        <span>{{ proveedor.direccion }}</span>
    </div>
    
    <div class="detail-item">
        <span class="detail-label">Nombre del Contacto:</span>
        <span>{{ proveedor.nombre_contacto }}</span>
    </div>
    
    <div class="detail-item">
        <span class="detail-label">Teléfonos:</span>
        <span>{{ proveedor.telefonos }}</span>
    </div>
    
    <div class="detail-item">
        <span class="detail-label">Observaciones:</span>
        <p>{{ proveedor.observaciones }}</p>
    </div>

    <div class="button-container">
        <form action="{% url 'home_proveedores' %}">
            <input type="submit" class="btn" value="Regresar" />
        </form>
        <form action="{% url 'edit_proveedores' proveedor.id %}">
            <input type="submit" class="btn" value="Editar" />
        </form>
        <form>
            {% csrf_token %}
            <input type="submit" class="btn btn-delete" value="Eliminar" />
        </form>
    </div>
</div>

</body>
{% endblock content %}

{% comment %} action="{% url 'delete_proveedor' proveedor.id %}" method="post" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este proveedor?');" {% endcomment %}