{%extends "base.html"%}

{% block title %}Inventario{% endblock %}

{% block content %}

<style>
    
    /* Espacio entre el nav-bar y el div-main */
    .table-container {
        width: 100%;
        overflow-x: visible; /* Para manejar tablas muy anchas en pantallas pequeñas */
        margin-top: 25px;
    }
    
    /* Configuración de tabla */
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #ffffff; /* Fondo entero para toda la tabla */
    }
    
    th, td {
        padding: 12px 15px;
        border: 1px solid #ddd;
        text-align: left;
    }
    
    th {
        background-color: #f4f4f4;
    }
    
    tr {
        background-color: #f9f9f9; /* Fondo entero para las filas */
    }
    
    tr:hover {
        background-color: #d6d6d6;
    }
    
    /* Ajusta los laterales del div */
    .div-main {
        margin-left: 100px;
        margin-right: 50px;
    }
    
    /* Ajusta la columna observaciones para que no se muestre del todo el texto */
    .observaciones {
        max-width: 200px; /* Ajusta este valor según necesites */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    /* Sirve para poner a la misma altura el botón de añadir proveedores */
    .header-table {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    
    /* Sirve para poner a la misma altura el search */
    .left-section {
        display: flex;
        align-items: center;
    }
    
    /* Margin proveedores en total */
    .proveedores-count {
        margin: 0;
    }
    
    /* Buscador */
    .search-input {
        margin-left: 30px;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
    }
    
    /* Add botón 'añadir proveedores' */
    .add-proveedor-btn {
        padding: 10px 15px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }
    
    .add-proveedor-btn:hover {
        background-color: #45a049;
    }    
    
</style>
<div class="div-main">
            <div class="table-container">
                <div class="table-container">
                    <div class="header-table">
                        <div class="left-section">
                            <h2 class="proveedores-count">Stock en total: {{sum_stocks}}</h2>
                            <input type="text" id="searchInput" placeholder="Search.." class="search-input">
                        </div>
                        <form action="{% url 'form_inventario' %}">
                            <input type="submit"  class="add-proveedor-btn" value="Añadir Stock" />
                        </form>
                    </div>
                    <table id="proveedoresTable">
                        <thead>
                            <tr>
                                <th>Catalogo</th>
                                <th>Cantidad</th>
                                <th>Estacion</th>
                                <th>Almacen</th>
                                <th>Transporte</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stock in stocks %}
                            <tr onclick="window.location.href='{% url 'detail_inventario' stock.id %}'" style="cursor: pointer;">
                                <td>{{ stock.catalogo_nombre  }}</td>
                                <td>{{ stock.cantidad }}</td>
                                <td>{{ stock.estacion }}</td>
                                <td>{{ stock.almacen }}</td>
                                <td>{{ stock.transporte }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('searchInput');
        const table = document.getElementById('proveedoresTable');
        const rows = table.getElementsByTagName('tr');
    
        searchInput.addEventListener('keyup', function() {
            const searchTerm = searchInput.value.toLowerCase();
    
            for (let i = 1; i < rows.length; i++) {
                const nombreEmpresa = rows[i].getElementsByTagName('td')[0].textContent.toLowerCase();
                if (nombreEmpresa.includes(searchTerm)) {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        });
    });
</script>
{% endblock content %}